*{
    font-family: "Roboto", sans-serif;
}
h1{
    font-size:68px;
    font-weight: 600;
}
h2{
    font-size:48px;
    font-weight: 600;
    color: $text_dark;
    span{
        color: $text_h_span;
    }
}
h3{
    font-size: 25px;
    color: rgba(24, 24, 24, 0.8)
}
p{
    font-size: 16px;
    line-height: 1.5;
    color: rgba(24, 24, 24, 0.8)
}