header {
    padding: 0 10px;
    padding-bottom: 97px;
    background: url(../images/background-main.png) no-repeat center top;
    background-size: cover;
    color: $text_light;
        .wrap_header{
            max-width: $width_wrap;
            margin: 0 auto;
            padding-top: 10px;
        }
    .logo a{
        display: flex;
        align-items: center;
        font-size: 35px;
        @include adaptiv-font(35, 20);
        text-decoration: none;
        color: $text_light;
        img{
            margin-right: 9px;
            max-width: 69px;
            @include adaptiv-width(69,30);
        }
    }
    h1{
        display: block;
        width: 50%;
        @include adaptive('width', 1042 , 383 );
        text-align: center;
        margin: 0 auto;
        margin-top: 163px;
        margin-bottom: 112px;
    }
}
.top_header{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.main_menu{
    flex-flow: row wrap;
    list-style: none;
    display: flex;
    font-size: 14px;
    text-transform: uppercase;
    li{
        padding-left: 25px;
        &.current a{
            color: $text_light; 
        }
        a{
            text-decoration: none;
            color: $text_light_link_noactive;
            &:hover{
                color: $text_light;
            }
        }
    }
}

