$button_order : rgba(15,50,51,.8); //Кнопка Заказать
$button_order_hov : rgba(15,50,51,1); //Кнопка Заказать
$button_who : rgba(255,191,63,.8); //Кнопка Кто мы
$button_who_hov : rgba(255,191,63,1); //Кнопка Кто мы